In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv("fifa21_train.csv")
df1

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,232504,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,"6'1""",168lbs,...,60+2,60+2,63+2,63+2,61+2,61+2,61+2,63+2,16+2,65
11697,214680,G. Gallon,27,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,"6'1""",174lbs,...,26+2,26+2,25+2,24+2,26+2,26+2,26+2,24+2,69+2,70
11698,221489,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,"5'6""",143lbs,...,44+2,44+2,49+2,45+2,35+2,35+2,35+2,45+2,17+2,67
11699,146717,Anderson Silva,26,Brazil,Barnsley,CM,NaN,Barnsley 2010,"6'2""",179lbs,...,68+0,68+0,66+0,64+0,60+0,60+0,60+0,64+0,25+0,68
11700,236507,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,"5'7""",143lbs,...,43+2,43+2,46+2,44+2,36+2,36+2,36+2,44+2,15+2,64

In [3]:
list(df1.isna().sum())

[0,
 0,
 0,
 0,
 18,
 0,
 288,
 0,
 0,
 0,
 0,
 0,
 41,
 11072,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 41,
 0,
 0,
 41,
 0,
 0,
 0,
 0,
 0,
 0,
 41,
 0,
 41,
 0,
 0,
 41,
 0,
 0,
 0,
 0,
 0,
 7,
 7,
 41,
 0,
 279,
 0,
 0,
 0,
 41,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 59,
 59,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [4]:
# def one_for_all(df, threshold=25):
    
#     cols = df.columns
#     new_cols = []
#     rows = df.shape[0]
    
#     for col in cols:
#         new_col = ""
#         for letter in col:
#             if letter == " ":
#                 letter = "_"
#                 new_col += letter
#             else:
#                 new_col += letter
#         new_cols.append(new_col.lower())
#     df.columns = new_cols
    
#     for col in new_cols:
#         na = df[col].isna().sum()
#         if na > (threshold*rows/100):
#             df = df.drop([col], axis=1)
#         else: df = df[df[col].isna()==False]
    
#     return df

# df1 = one_for_all(df1)

In [5]:
%%writefile -a functions.py

def lowercase_cols(df):
    
    df2 = df.copy()
    
    cols = df2.columns
    new_cols = []
    
    for col in cols:
        new_col = ""
        for letter in col:
            if letter == " ":
                letter = "_"
                new_col += letter
            else:
                new_col += letter
        new_cols.append(new_col.lower())
    df2.columns = new_cols
    
    return df2

Appending to functions.py

In [6]:
%%writefile -a functions.py

def remove_na(df, threshold=25):    
    
    df2 = df.copy()
    
    cols = df2.columns
    rows = df.shape[0]
    
    for col in cols:
        na = df2[col].isna().sum()
        if na > (threshold*rows/100):
            df2 = df2.drop([col], axis=1)
        else: 
            df2 = df2[df2[col].isna()==False]
    
    return df2

Appending to functions.py

In [7]:
# display(df1)
# display(num)
# display(cat)

In [8]:
# Stars: w/f, sm, ir
# Number: hits
# Inches: height
# Pounds: weight
# Money: value, wage, release_clause
# Time: joined

In [9]:
# def starless(col):
    
#     values = []
    
#     for value in col:
#         value = value.replace(' ★', "")
#         value = value.replace('★', "")
#         value = int(value)
#         values.append(value)
    
#     col = values

#     return col

In [10]:
%%writefile -a functions.py

def starless(x):
    
    x = x.replace(' ★', "")
    x = x.replace('★', "")
    x = int(x)

    return x

Appending to functions.py

In [11]:
# df["stars"] = list(map(starless,df["stars"]))

In [12]:
# def show_me_the_money(col):
    
#     values = []
    
#     for value in col:
#         value = value.replace('€', "")
        
#         if "." in value:
#             split = value.split(".")
#             value = split[0] + split[1]
#             value = value.replace("M", "00000")
#             value = value.replace("K", "00")

#         else:       
#             value = value.replace("M", "000000")
#             value = value.replace("K", "000")
            
#         value = int(value)
#         values.append(value)
    
#     col = values

#     return col

# df1["value"] = show_me_the_money(df1["value"])
# df1["wage"] = show_me_the_money(df1["wage"])
# df1["release_clause"] = show_me_the_money(df1["release_clause"])
# df1["hits"] = show_me_the_money(df1["hits"])

In [13]:
%%writefile -a functions.py

def show_me_the_money(x):

    x = x.replace('€', "")
        
    if "." in x:
        split = x.split(".")
        x = split[0] + split[1]
        x = x.replace("M", "00000")
        x = x.replace("K", "00")

    else:       
        x = x.replace("M", "000000")
        x = x.replace("K", "000")
            
    x = int(x)
    
    return x

Appending to functions.py

In [14]:
# def inches_to_cm(col):
    
#     values = []
    
#     for value in col:
#         value = value.replace('"', "")
#         split = value.split("'")
#         split[0] = float(split[0])
#         split[1] = float(split[1])
#         split[0] = split[0]*30.48
#         split[1] = split[1]*2.54
#         value = split[0]+split[1]
#         values.append(value)
    
#     return values

# df1["height"] = inches_to_cm(df1["height"])
# df1["height"]

In [15]:
%%writefile -a functions.py

def inches_to_cm(x):
    
    x = x.replace('"', "")
    split = x.split("'")
    split[0] = float(split[0])
    split[1] = float(split[1])
    split[0] = split[0]*30.48
    split[1] = split[1]*2.54
    x = split[0]+split[1]
    
    return x

Appending to functions.py

In [16]:
# df1["joined"] = pd.to_datetime(df1["joined"], errors="coerce")
# df1["joined"]

In [17]:
# df1["weight"] = df1["weight"].map(lambda x: x.rstrip('lbs'))
# df1["weight"] = pd.to_numeric(df1["weight"], errors='coerce')

In [18]:
# num = df1.select_dtypes(np.number)
# num

In [19]:
# cat = df1.select_dtypes("object")
# cat

In [20]:
# positions_stats = df1[['ls', 'st', 'rs',
#        'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
#        'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb',
#        'rcb', 'rb', 'gk']].copy()

In [21]:
%%writefile -a functions.py

def never_positive(df):
    
    cols = df.columns
    
    for col in cols:
        new_col = []
        for value in df[col]:
            
            if "+" in value:
                split = value.split("+")
                split[0] = int(split[0])
                split[1] = int(split[1])
                value = split[0]+split[1]
            else: value = int(value)
            
            new_col.append(value)
        df[col] = new_col
        
    return df

Appending to functions.py

In [22]:
# positions_stats = never_positive(positions_stats)
# positions_stats

In [23]:
# df1 = df1.drop(['ls', 'st', 'rs',
#        'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
#        'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb',
#        'rcb', 'rb', 'gk'], axis=1)

# df1 = pd.concat([df1, positions_stats], axis=1)
# df1

In [24]:
%%writefile -a functions.py

def master_func(df):
    
    
    df2 = df.copy()
    
    df2 = lowercase_cols(df2)
    df2 = remove_na(df2)
    
    df2["w/f"] = df2["w/f"].apply(starless)
    df2["sm"] = df2["sm"].apply(starless)
    df2["ir"] = df2["ir"].apply(starless)
    
    df2["value"] = list(map(show_me_the_money,df2["value"]))
    df2["wage"] = list(map(show_me_the_money,df2["wage"]))
    df2["release_clause"] = list(map(show_me_the_money,df2["release_clause"]))
    df2["hits"] = list(map(show_me_the_money,df2["hits"]))

    df2["height"] = df2["height"].apply(inches_to_cm)
    
    df2["joined"] = pd.to_datetime(df2["joined"], errors="coerce")
    
    df2["weight"] = df2["weight"].map(lambda x: x.rstrip('lbs'))
    df2["weight"] = pd.to_numeric(df2["weight"], errors='coerce')
    
    positions_stats = df2[['ls', 'st', 'rs',
       'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
       'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb',
       'rcb', 'rb', 'gk']].copy()
    positions_stats = never_positive(positions_stats)
    df2 = df2.drop(['ls', 'st', 'rs',
       'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm',
       'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb',
       'rcb', 'rb', 'gk'], axis=1)
    df2 = pd.concat([df2, positions_stats], axis=1)
    
    return df2

Appending to functions.py

In [25]:
import functions

In [26]:
df1 = functions.master_func(df1)

In [27]:
df1

,id,name,age,nationality,club,bp,position,team_&_contract,height,weight,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,175.26,161,...,60,60,60,60,59,55,55,55,59,16
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan",182.88,159,...,55,55,55,59,55,50,50,50,55,20
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,162.56,134,...,58,58,58,61,55,43,43,43,55,14
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,177.80,152,...,60,60,60,58,59,60,60,60,59,16
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,180.34,150,...,66,66,66,66,65,63,63,63,65,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11695,196848,I. Ávila,29,Peru,Melgar FBC,ST,ST,Melgar FBC 2019 ~ 2021,170.18,154,...,47,47,47,48,46,45,45,45,46,21
11696,232504,B. Böðvarsson,25,Iceland,Jagiellonia Białystok,LB,LB,Jagiellonia Białystok 2018 ~ 2021,185.42,168,...,62,62,62,65,65,63,63,63,65,18
11697,214680,G. Gallon,27,France,ESTAC Troyes,GK,GK,ESTAC Troyes 2019 ~ 2022,185.42,174,...,28,28,28,27,26,28,28,28,26,71
11698,221489,J. Flores,22,Chile,CD Antofagasta,RM,LM CAM RM,CD Antofagasta 2019 ~ 2024,167.64,143,...,46,46,46,51,47,37,37,37,47,19
11700,236507,T. Conechny,22,Argentina,Portland Timbers,CAM,ST CAM LM,Portland Timbers 2019 ~ 2020,170.18,143,...,45,45,45,48,46,38,38,38,46,17